extends ../layout

block content
  .container
    hr
    table.table
      tr
        th 호스트 이메일
        th 제목
        th 가격
        th 체크인
        th 체크아웃
      each reservation in reservations
        tr
          td= reservation.email
          td= reservation.reserveState
          td= reservation.post
          td 
            a.btn.btn-default(href='/host/myhosting') 취소
    