doctype html
html(lang='ko')
  head
    block title
      title AIRBNB
    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/bower_components/lodash/lodash.min.js')
    script(src='/bower_components/moment/min/moment.min.js')
    script(type='text/javascript', src='//apis.daum.net/maps/maps3.js?apikey=165193d18659105f76d54ea3e1712ef2&libraries=services')
  body
    block top-nav
      include ./includes/topnav
    block hero-unit
    .main-content
      if flashMessages
        each texts, type in flashMessages
          .container
            .alert(class='alert-#{type}')
              each msg in texts
                p= msg           
      block content

    block footer
      include ./includes/footer
